{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" style="color: #000; margin-top: 5px;">Your Orders</li>
<li class="breadcrumb-item"><a href="{% url 'yc' %}" class="btn btn-info" role="button">Your Products</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'new_product' %}" class="btn btn-info" role="button">Add New Product</a></li>
  <li class="breadcrumb-item"><a href="{% url 'ord' user.username %}" class="btn btn-info" role="button">Your Dukaan Link for Buying Products</a></li>
{% endblock %}
{% block content %}
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Your Orders</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>
          {{ product.name }}
          <small class="text-muted d-block"><b>Client Name: </b>{{ product.user_name }}</small>
          <small class="text-muted d-block"><b>Adress: </b>{{ product.adress }}</small>
          <small class="text-muted d-block"><b>Mobile Number: </b>{{ product.mob }}</small>
          <small class="text-muted d-block"><b>Quantity: </b>{{ product.qty }}</small>
          <small class="text-muted d-block"><b>Price in which the item is purchased: </b>{{ product.price}}</small>
        </td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}